        <h2 class="text-white my-4">Today</h3>
            <hr class="divider bg-white">
            <div class="grid gap-3">
                <div class="card bg-dark text-white">
                    <img height="250px" src="https://picsum.photos/200/300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque obcaecati
                            aperiam voluptates sapiente distinctio excepturi.</p>
                        <a href="" class="w-50 btn btn-primary">Read</a>
                    </div>
                </div>

                <div class="card bg-dark text-white">
                    <img height="250px" src="https://picsum.photos/200/300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque obcaecati
                            aperiam voluptates
                            sapiente distinctio excepturi.</p>
                        <a href="" class="w-50 btn btn-primary">Read</a>
                    </div>
                </div>

                <div class="card bg-dark text-white">
                    <img height="250px" src="https://picsum.photos/200/300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque obcaecati
                            aperiam voluptates
                            sapiente distinctio excepturi.</p>
                        <a href="" class="w-50 btn btn-primary">Read</a>
                    </div>
                </div>

                <div class="card bg-dark text-white">
                    <img height="250px" src="https://picsum.photos/200/300" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium animi eaque obcaecati
                            aperiam voluptates
                            sapiente distinctio excepturi.</p>
                        <a href="" class="w-50 btn btn-primary">Read</a>
                    </div>
                </div>

            </div>